h1 {
    color: white;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
}

h2 {
    width: 100%;
    margin-top: 0;
    color: $colorMagenta;
}

h3 {
    color: white;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
}

h4 {
    margin-top: 0;
}
p {
    color: white;
}