table{
    border-collapse: collapse;
    width: 100%;
}
th,td{
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: whitesmoke;}

th{
    background-color: lightseagreen;
    color: white;
    text-align: center;
}

.listaPersonas{

    display: inline-block;
    
    }

input[type=text],[type=date]{
        width: 100%;
        padding: 10px 18px;
        margin: 8px 0;
        display: inline-block;
        border-radius: 4px;
        box-sizing: border-box;
        border: 1px solid #cccccc;
 }   
 
 .botonModificar{
    width: 45%;
    background-color:lightseagreen;
    color: white;
    padding: 10px 24px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.sinError{
    border: 1px solid #cccccc;
}

.error{
    
    border: 1px solid red;

}


.botonEliminar{
    width: 45%;
    background-color:red;
    color: white;
    padding: 10px 24px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}


.botonCerrar
{
    width: 5%;
    background-color: red;
    color: white;
    padding: 7px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
}

.Cargando
{
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
}


.botonCerrar:hover{
    background-color:lightcoral;
}

.botonEliminar:hover{
    background-color:lightcoral;
}

.botonModificar:hover{
    background-color:lightgreen;
}

.contenedoraflex{
    display: flex;
    justify-content: center;
    width: 100%;
    
}


.contenedorGrilla{
    top: 135px;
    position: absolute;
    width: 30%;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 20px;
    display: none;
    
}


.listaPersonas{

display: inline-block;

}
