
button {
    padding: 7px 25px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    background: $colorLigthgrey;
    color: $colorBlueDark;

    &.outline{
        background:none;
        border:1px solid $colorBorder;
    }
    &:disabled{
        opacity: .5;
    }
    &.primary {
        background: $colorMagenta;
        color: white;

        &.outline {
            background: none;
            color: $colorMagenta;
            border: 1px solid $colorMagenta;
        }
        &:active {
            color: white;
            background: $colorMagentaDark;
        }
    }
    &.secondary {
        background: $colorBlue;
        color: white;

        &.outline {
            background: none;
            color: $colorBlue;
            border: 1px solid $colorBlue;
        }
        &:active {
            color: white;
            background: $colorBlueDark;
        }
    }
}
button.btnClose{
    padding: 0;
    border: none;
    border-radius: 0;
    font-size: 24px;
    background: none;
    color: #36304a;
    position: absolute;
    right: 22px;
    top: 17px;
    height: 34px;
    width: 34px;
}